@page "/"
@using StreamFy.WebApp.Models
@using StreamFy.WebApp.Requests
@inject NavigationManager _navgationManager

<MudContainer Class="mt-6" MaxWidth="MaxWidth.False">
    <MudText Typo="Typo.h5" Class="mb-4">Suas Musicas</MudText>
    
    <div style="display: flex; 
    overflow-x: auto; 
    gap: 16px; 
    padding-bottom: 16px;">
    
        @foreach (var item in _musicas)
        {
            <MudCard Style="min-width: 200px; max-width: 200px;">
                <MudCardMedia Image="@item.ImagemUrl" Height="140"/>
                <MudCardContent>
                    <MudText Typo="Typo.subtitle2">@item.Nome</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudIconButton Icon="@GetFavoritoIcon(item)" 
                                   Color="Color.Error" 
                                   OnClick="@(() => Favoritar(item))"/>
                </MudCardActions>
            </MudCard>
        }
        
    </div>
    
</MudContainer>

@code
{
    [Inject]
    private UsuarioEndpoint _usuarioEndpoint { get; set; }

    [Inject] private MusicaEndpoint _musicaEndpoint { get; set; }

    private List<MusicaReq> _musicas = new();

    protected override void OnInitialized()
    {
        if(!UsuarioLogado.Logado)
            _navgationManager.NavigateTo("/login");

        else
        {
            _musicas = _musicaEndpoint.GetMusicas()
                .GetAwaiter()
                .GetResult();
        }
    }

    void Favoritar(MusicaReq musica)
    {
        musica.Favorito = !musica.Favorito;
    }

    string GetFavoritoIcon(MusicaReq musica)
    {
        return musica.Favorito ? 
            Icons.Material.Filled.Favorite : 
            Icons.Material.Filled.FavoriteBorder;
    }

}
