@page "/login"
@inject NavigationManager _navManager


<h3>Login</h3>

<MudPaper Class="d-flex flex-column align-center justify-center" Style="height: 100vh">
    <MudCard Style="width: 100%; max-width: 400px;">
        
        <MudCardContent>
            <MudText Typo="Typo.h5" Align="Align.Center" Class="mb-4">Login</MudText>
            
            <MudTextField @bind-Value="_email" InputType="InputType.Email" Label="Email" FullWidth="true"/>
            <MudTextField @bind-Value="_password" Label="Senha" InputType="InputType.Password" FullWidth="true"/>
            
            <MudPaper Class="d-flex">
                <MudButton Color="Color.Primary" FullWidth="true" Class="mt-8 mr-2" OnClick="TentativaLogin">
                    Entrar
                </MudButton>
                
                <MudButton Color="Color.Primary" FullWidth="true" Class="mt-8 ml-2" OnClick="TentativaLogin">
                    Registrar
                </MudButton>
            </MudPaper>
            

        </MudCardContent>
        
    </MudCard>
</MudPaper>

@code {
    private string _email;
    private string _password;

    private void TentativaLogin()
    {
        if (!string.IsNullOrEmpty(_email))
        {
            _navManager.NavigateTo("/");
        }
    }
}